*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overflow-y: hidden;
  height: 100vh;
}

@font-face {
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf');
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100vw;
  font-size: 23px;
  z-index: 3;
  color: white;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}

.navbar__hamburger {
  display: none;
}

.navbar__logo {
  font-size: 20px;
}

.banner {
  height: 20vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.author {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.author h1 {
  font-size: 42px;
}

.author h3 {
  padding: 10px 0px;
  font-size: 25px;
}

.story {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
  margin-top: 20px;
  height: 78%;
}

.story-description {
  width: 50%;
}

.story-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.story-description .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  row-gap: 50px;
  margin-top: 20px;
  height: 20%;
}

.story-description div {
  padding: 20px 0px;
  font-size: 20px;
}

.story-description {
  padding: 20px 0px;
  font-size: 20px;
}

.profile > img {
    width: 500px;
    height: 400px;
}

.dropdown {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: black;
  color: white;
  transform: translateX(100%);
  transition: all 0.2s ease-in;
}

.dropdown__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-top: 200px;
  font-size: 25px;
}

.dropdown__hamburger {
  position: absolute;
  margin-left: 87%;
  margin-top: 20px;
}

.new-shape {
  fill: white;
}

@media (max-width: 1024px) {

  .story {
    flex-direction: column;
  }

  .story-description {
    width: 100%;
  }

  .profile {
    padding-top: 30px;
    text-align: center;
  }

  .profile {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar__list {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }

  .page {
    grid-template-rows: 1fr 1fr;
  }
  .hero img {
    height: 300px;
  }
  .details h1 {
    font-size: 38px;
  }
  .details h2 {
    font-size: 28px;
  }

  .profile {
    display: none;
  }
}

@media (max-width: 620px) {
  .details {
    margin-bottom: 200px;
  }

  .hero {
    margin-top: 200px;
  }

  .skills {
    grid-template-columns: 200px 200px;
    margin-left: 70px;
  }
}
