*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf');
}

body {
  font-family: PopLight;
  /* overflow-x: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100vw;
  font-size: 23px;
  z-index: 100;
  color: white;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}

.navbar__hamburger {
  display: none;
}

.navbar__logo {
  font-size: 20px;
}


.banner {
  height: 20vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 80px 0px;
}

.work-description {
  width: 70%;
}

.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.work-description div {
  padding: 20px 0px;
  font-size: 20px;
}

.work-description p {
  padding: 20px 0px;
  font-size: 20px;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1200px);
  height: 100%;
  padding-left: 100px;
  padding-top: 120px;
}

.work-gallery img {
  width: 100%;
  margin-bottom: 20px;
}

.container {
  /* margin-left: 37%;
  margin-top: 50px;
  padding: 20px;
  width: 600px; */
  /* border: 2px solid black; */
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

@media (max-width: 1024px) {

  .navbar__list {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }

  .story,
  .my-work {
    flex-direction: column;
  }

  .story-description,
  .work-description {
    width: 100%;
  }

  .work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    transform: translateX(-5px);
    padding-left: 0;
    padding-top: 0;
  }

  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .page {
    grid-template-rows: 1fr 1fr;
  }
  .hero img {
    height: 300px;
  }
  .details h1 {
    font-size: 38px;
  }
  .details h2 {
    font-size: 28px;
  }
}

@media (max-width: 620px) {
  .details {
    margin-bottom: 200px;
  }

  .hero {
    margin-top: 200px;
  }

  .skills {
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
  }
}

@media (max-width: 510px) {
  .story-description .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .banner {
    transform: translateX(10px);
  }

  .story img {
    transform: translateX(-20px);
  }

  .work-gallery img {
    transform: translateX(15px);
  }
}
