*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: PopLight;
  src: url('./fonts/Poppins-Light.ttf');
}

html {
  height: 100vh;
}

body {
  font-family: PopLight;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.portfolio {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  width: 100vw;
  font-size: 23px;
  z-index: 2;
  color: white;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.navbar__hamburger {
  display: none;
}

.navbar__logo {
  font-size: 20px;
}

.page {
  height: 107vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-content: center;
  display: flex;
}

.hero img {
  height: 500px;
  transition: transform 0.3s ease-out;
  cursor: pointer;
}

.model-right {
  transform: translate(0%, 10%);
}

.model-left {
  transform: translate(0%, -10%);
}

.hero:hover .model-right {
  transform: translate(0%, 0%);
}

.hero:hover .model-left {
  transform: translate(0%, 0%);
}

.details {
  grid-column: 2/3;
  align-self: end;
  /* height: 50%;  */
}

.details h1 {
  font-size: 64px;
  font-family: PopRegular;
}

.details h2 {
  font-size: 42px;
  padding: 20px 0px;
}

.pages {
  position: absolute;
  right: 5%;
  top: 93%;
  transform: translateY(-25%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: 9%;
}

.pages > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages h3 {
  font-size: 24px;
  padding: 30px;
}

.pages a {
  display: flex;
  align-items: center;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  transform: scale(2);
}

.pages svg:hover {
  animation: dot 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

.new-shape {
  fill: white;
}

@keyframes dot {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(4);
  }
}

.banner {
  height: 20vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.author {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.author h1 {
  font-size: 42px;
}

.author h3 {
  padding: 10px 0px;
  font-size: 25px;
}

.story,
.my-work {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.story-description,
.work-description {
  width: 50%;
}

.story-description h3,
.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.story-description .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  justify-content: center;
  row-gap: 50px;
}

.story-description div,
.work-description div {
  padding: 20px 0px;
  font-size: 20px;
}

.story-description p,
.work-description p {
  padding: 20px 0px;
  font-size: 20px;
}

.work-gallery {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  height: 400px;
  padding-left: 100px;
  padding-top: 120px;
}

.work-gallery img {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #5e9bfc;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #5e9bfc;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999 
}
.btn-start-order {
	background: 0 0 #ffffff;
    border: 1px solid #2f323a;
    border-radius: 3px;
    color: #2f323a;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin: 30px 0;
    padding: 10px 50px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #5e9bfc;
	color: #5e9bfc;
}

.dropdown {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 112vh;
  transform: translateX(100%);
  z-index: 3;
  background: black;
  color: white;
  transition: transform 0.2s ease-in;
}

.dropdown__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  margin-top: 150px;
  font-size: 25px;
}

.dropdown__hamburger {
  position: absolute;
  margin-left: 87%;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .page {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
  }

  .navbar__list {
    display: none;
  }

  .navbar__hamburger {
    display: block;
  }

  .hero {
    grid-column: 2/3;
    height: auto;
    margin-top: 200px;
  }

  .hero img {
    height: 500px;
  }

  .details {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    padding-bottom: 20%;
  }

  .details h1 {
    font-size: 48px;
  }

  .details h2 {
    font-size: 38px;
  }

  .story,
  .my-work {
    flex-direction: column;
  }

  .story-description,
  .work-description {
    width: 100%;
  }

  .work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    transform: translateX(-5px);
    padding-left: 0;
    padding-top: 0;
  }

  .profile {
    padding-top: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .page {
    grid-template-rows: 1fr 1fr;
  }
  .hero img {
    height: 300px;
  }
  .details h1 {
    font-size: 38px;
  }
  .details h2 {
    font-size: 28px;
  }
}

@media (max-width: 620px) {
  .details {
    margin-bottom: 200px;
  }

  .hero {
    margin-top: 200px;
  }

  .skills {
    grid-template-columns: 200px 200px;
    grid-template-rows: 100px 100px 100px;
  }
}

@media (max-width: 510px) {
  .story-description .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .banner {
    transform: translateX(10px);
  }

  .story img {
    transform: translateX(-20px);
  }

  .work-gallery img {
    transform: translateX(15px);
  }
}
